#slider-7 P {
  color: #efefef;
  font-size: 25px;
}
#slider-7 H1 {
  color: #d14841;
  text-align: center;
}
#slider-8 P {
  color: #efefef;
  font-size: 25px;
}
#slider-8 H1 {
  color: #d14841;
  text-align: center;
}
#slider-9 P {
  color: #efefef;
  font-size: 25px;
}
#slider-9 H1 {
  color: #d14841;
  text-align: center;
}
#slider-a P {
  color: #efefef;
  font-size: 25px;
}
#slider-a H1 {
  color: #d14841;
  text-align: center;
}
#slider-g P {
  color: #efefef;
  font-size: 25px;
}
#slider-g H1 {
  color: #d14841;
  text-align: center;
}
